<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moofficial.moweb"
    xmlns:dist="http://schemas.android.com/apk/distribution">

    <dist:module dist:instant="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <meta-data android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true" />
        <receiver
            android:name=".Moweb.MoDownload.MoDownloadReceiver"
            android:enabled="true"
            android:exported="false" />
        <activity android:name=".MoActivities.History.SavedPasswordsActivity" />
        <activity android:name=".MoActivities.History.MoBrowsingData" />
        <activity android:name=".MoActivities.Bookmark.AddFolderBookmarkActivity" />
        <activity android:name=".MoActivities.MoSplashScreen" />
        <activity android:name=".MoActivities.Download.MoDownloadActivity" />
        <activity
            android:name=".MoActivities.MainActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name=".MoActivities.Bookmark.BookmarkFolderChooserActivity" />
        <activity android:name=".MoActivities.Bookmark.EditBookmarkActivity" />
        <activity
            android:name=".MoActivities.Bookmark.BookmarkActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".MoActivities.HomePageActivity" />
        <activity
            android:name=".MoActivities.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".MoActivities.History.HistoryActivity" /> <!-- <activity -->
        <!-- android:name=".MoActivities.MainActivity"/> -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.moofficial.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_path" />
        </provider>
    </application>

</manifest>